.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 15px;
  background: none;
  transition: all 0.3s ease;
}

.navContent {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.navLeft span {
  margin-left: 12px;
}

.navCenter {
  display: flex;
  gap: 40px;
}

.navbarlinks {
  text-decoration: none;
  color: #000000B3;
  font-size: 15px;
  font-weight: 500;
}

.navbarlinks:hover {
  color: #00000080;
}

.navRight a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  stroke: black;
}

.scrolled {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  max-width: fit-content;
  z-index: 1000;
  transition: all 0.3s ease;
}

